<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    </head>
    <body>
        <ui class="ui centered grid">
            <div class="row">
                <div class="four wide colunm">
                    <div class="ui fluid card">
                        <div class="image">
                            <%= image_tag @p1_img %>
                        </div>
                        <div class="content">
                            <span class="header center" target="_blank"><%= @p1_name %></span>
                        </div>
                    </div>
                </div>
                <div class="two middle aligned column">
                    <h1>VS</h1>
                </div>
                <div class="four wide colunm">
                    <div class="ui fluid card">
                        <div class="image">
                            <%= image_tag @p2_img %>
                        </div>
                        <div class="content">
                            <span class="header center" target="_blank"><%= @p2_name %></span>
                        </div>
                    </div>
                </div>
            </div>
        </ui>
        <ui class="ui centered grid">
            <button class="red massive ui button ">
                この闘いが見たいぜ！
            </button>
        </ui>
    </body>
</html>